.col-md-11{
  display: flex;
  padding-bottom: 6%;
}
.contents{
  overflow: scroll;
  overflow: auto;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 6%;
}
.card{
  text-align: center;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}